form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  #grad1 {
    height: 200px;
    /* background-color: red; */
    background-image: linear-gradient(to right,#d3959b ,#bfe6ba);
  }