  #grad1 {
    background-image: url('src\assets\login1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1.9;
  }
  
  mat-card {
    background-image: linear-gradient(to right,#b1a5a5 ,#9ca55a);
    color:#000000;
    max-width: 500px;
    width: 400px;
    height:300px;
    margin: auto;
    text-align: center;
  }
  
  mat-card-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex {
    display: flex;
    align-items: center;
  }
  
  mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-prefix,
  mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-suffix {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-prefix > .mat-icon,
  mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-suffix > .mat-icon {
    margin-right: 8px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  
  mat-card-actions > div {
    margin-right: 16px;
  }
  
  a {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
    
    
  
  
  