<div id="grad1" style="display: flex; justify-content: center; align-items: center; height: 100vh; ">
  <form [formGroup]="OTPGeneration">
    <mat-card>
      <mat-card-title>Generate OTP</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Enter OTP Here</mat-label>
          <input matInput type="email" id="Email" formControlName="Email" style="width: 100%;" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div style="margin: 10px; margin-top: 40px;">
            <button mat-raised-button color="primary" type="submit" (click)="otp()" style="margin-bottom:80px">Submit</button>
          </div>
          </div>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>


  <router-outlet></router-outlet>