<div class="header">
    <div class="side-nav">
        <a href="#" class="logo">
            <!-- <img src="logo.png" class="logo-img"> -->
        </a>
        <ul class="nav-links">
            <li><a href="/">
                    
                    <p>Home</p>
                </a>
            </li>
            <li><a href="/chatWithContact">
                   
                    <p>Chat with Contact</p>
                </a>
            </li>
            <div class="active"></div>
        </ul>
    </div>
</div>