/* .btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 160px;
  margin-top: 10px;
  cursor: pointer;
}
.centered1 {
  font-size: 50px;
  color: rgb(100, 81, 81);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-2%, -50%);
  text-shadow: 3px 2px #101010
}
.centered {
  font-size: 30px;
  color: rgb(67, 52, 52);
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.btn:hover {
  background-color: #3e8e41;
}
.btn1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #3e8e41;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  
}

.container img {
  opacity: 0.5;
}

.container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.container img {
  opacity: 0.6;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered1 {
  font-size: 50px;
  color: rgb(100, 81, 81);
  text-shadow: 3px 2px #101010;
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.centered {
  position: absolute;
  top: 40%;
  left: 53%;
  color: rgb(100, 81, 81);
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn1 {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .centered1 {
    font-size: 2em;
  }

  .centered {
    font-size: 1em;
  }

  .btn,
  .btn1 {
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 5px;
    position: static;
    margin-top: 10px;
    display: block;
  }

  .btn1 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media query for screens larger than 768px */
@media screen and (min-width: 769px) {
  .centered1 {
    font-size: 4em;
  }

  .centered {
    font-size: 2em;
  }

  .btn,
  .btn1 {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn1 {
    left: 46%;
  }

  .btn {
    left: 54%;
  }
}