#grad1 {
  background-image: url('src\assets\laptop.png');
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
opacity: 1.9;
font-family: Comic Sans MS;
}

.centered1 {
  font-family:'bradley';
  font-size: 50px;
  color: rgb(100, 81, 81);
  text-shadow: 3px 2px #101010;
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.centered {
  position: absolute;
  top: 40%;
  left: 53%;
  color: rgb(100, 81, 81);
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #636363;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn1 {
  background-color: #636363;
  color: white;
  border: 2px solid #636363;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .centered1 {
    font-size: 2em;
  }

  .centered {
    font-size: 1em;
  }

  .btn,
  .btn1 {
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 5px;
    position: static;
    margin-top: 10px;
    display: block;
  }

  .btn1 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media query for screens larger than 768px */
@media screen and (min-width: 769px) {
  .centered1 {
    font-size: 4em;
  }

  .centered {
    font-size: 2em;
  }

  .btn,
  .btn1 {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn1 {
    left: 46%;
  }

  .btn {
    left: 54%;
  }
}