<div id="grad1" style="display: flex; justify-content: center; align-items: center; height: 100vh; ">
<form [formGroup]="ForgotPassword" >
    <div class="form-group">
        <span>Forgot Password</span>
      </div>
    <div class="form-group">
      <label for="Email">User Email: </label>
      <input type="text" id="Email" formControlName="Email">
       <br><span style="color: red;" *ngIf="!ForgotPassword.controls['Email'].pristine && ForgotPassword.controls['Email'].errors && ForgotPassword.controls['Email'].errors['required']">
            Email is required
          </span >
          <span  style="color: red;" *ngIf="!ForgotPassword.controls['Email'].pristine && ForgotPassword.controls['Email'].errors && ForgotPassword.controls['Email'].errors['email']">
            Please enter a valid email address
          </span >
    </div>
    <button type="submit" (click)="forget()">Reset Password</button>
  </form>
</div>
  <router-outlet></router-outlet>
  